{
  "CORSRules": [
    {
      "AllowedOrigins": [
        "https://app.staging.troott.com",
        "http://localhost:5053"
      ],
      "AllowedMethods": ["GET", "PUT", "POST", "HEAD"],
      "AllowedHeaders": ["*"],
      "ExposeHeaders": ["ETag", "x-amz-request-id"],
      "MaxAgeSeconds": 3000
    }
  ]
}
